@font-face {
  font-family: "lato-light";
  src: url("../fonts/Lato-Light.woff") format("woff"),
  url("../fonts/Lato-Light.woff2") format("woff2");
  }

@font-face {
  font-family: "lato-regular";
  src: url("../fonts/Lato-Regular.woff") format("woff"),
  url("../fonts/Lato-Regular.woff2") format("woff2");
  }

@font-face {
  font-family: "lato-bold";
  src: url("../fonts/Lato-Bold.woff") format("woff"),
  url("../fonts/Lato-Bold.woff2") format("woff2");
  }

@font-face {
  font-family: "magilio-regular";
  src: url("../fonts/Magilio-Regular.woff") format("woff"),
  url("../fonts/Magilio-Regular.woff2") format("woff2");
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    max-width: 375px;
    margin: auto;
    background-color: #F7F4E6;
  }

  .menu-nav {
    background-color: #98876A;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "lato-regular";
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  a {
    text-decoration: none;
    color: #F7F4E6;
  }

h1 {
    text-align: center;
    color: #3F2D1F;
    font-family: "magilio-regular";
    font-size: 23px;
    padding-top: 3px;
  }

  .intro p {
    text-align: center;
    margin-left: 44px;
    margin-right: 44px;
    color: #3F2D1F;
    font-family: "lato-light";
    font-size: 13px;
  }

  .intro {
    background-color: #E7EECC;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  main {
    background-color: #F7F4E6;
  }

  main p {
    font-family: "lato-regular";
    text-align: center;
    color: #3F2D1F;
    font-size: 13px;
    margin-bottom: 20px;
  }

  .button {
    height: 100px;
    width: 100px;
    color: #3F2D1F;
    font-family: "lato-regular";
    font-size: 19px;
    border: solid 2px #3F2D1F;
    padding: 2px 5px;
    box-shadow: 5px 5px 0px -1px #98876A;
    margin: 0 0 0 73px;
  }

  .adress {
    background-color: #E7EECC;
    padding-bottom: 57px;
  }

  h2 {
    font-family: "lato-regular";
    color: #3F2D1F;
    font-size: 22px;
    text-align: center;
    margin: 0px;
  }

  .adress p {
    font-family: "lato-light";
    color: #3F2D1F;
    font-size: 22px;
    text-align: center;
    margin: 0px;
  }

  .inter-lign {
    font-size: 50px;
    color: #C3514C;
    text-align: center;
    font-family: "lato-light";
  }

  footer {
    background-color: #2C2117;
    color: #F7F4E6;
    padding-bottom: 1px;
  }

  footer h1 {
    color: #F7F4E6;
    padding-top: 19px;
    margin: 0px;
  }

  footer p {
    text-align: left;
    font-family: "lato-regular";
    font-size: 17px;
    padding-bottom: 8px;
  }

  footer a {
    text-align: left;
    font-family: "lato-bold";
    font-size: 17px;
  }

  .info-footer {
    border: solid 2px #F7F4E6;
    padding: 0 33px 33px 33px;
    margin: 55px;
    margin-top: 19px;
  }

  img {
    max-width: 230px;
    display: block;
    margin: auto;
    padding-bottom: 19px;
  }

  header img {
    max-width: 100%;
    padding-bottom: 0px;
  }

  .adress img {
    max-width: 405px;
    padding-bottom: 0px;
    display: block;
    margin: auto;
  }

  .bleuet {
    margin-bottom: 50px;
  }

  .haricot {
    margin-bottom: 50px;
  }

  .potimarron {
    margin-bottom: 50px;
  }

  .adress h1 {
    margin-top: 30px;
    padding-top: 30px;
  }